jupyterlab==3.6.3
dask-labextension==6.2.0
dask-gateway==2023.1.1
ipywidgets
jupyterlab-nvdashboard
jupyter-resource-usage<1.0.0
jupyter-server-proxy==v4.1.0
jupyter_bokeh==3.0.7
jupyterlab-git==v0.42.0
jupyterlab-s3-browser>=0.12
nbdime==3.2.1
voila==v0.4.3